:root {
  --main-bg-color: #f5f5f5;
  --secondary-bg-color: #ffffff;
  --dark-bg-color: #152b4c;
  --accent-orange: #ff9a37;
  --accent-orange-light: #fff2e5;
  --accent-blue: #004ec7;
  --accent-blue-light: #e0eaf8;
  --accent-red: #ff563b;
  --accent-red-light: #ffeae7;

  --main-text: #192b44;
  --secondary-text: #9192a3;
  --dark-main-text: #ffffff;
  --dark-secondary-text: #9192a3;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: row;
}



.App {
  background-color: var(--main-bg-color);
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 24px 16px;
}

.app__section {
  display: flex;
  flex-direction: column;
}

.app__section--left {
  flex: 5;
}

.app__section--right {
  flex: 2;
}

.app__section-group {
  display: flex;
  flex-direction: row;
}
