.content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.data-updater {
  background-color: #161a1b;
  z-index: 10;
}

.data-updater__header {
  margin: 16px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  /* background-color: #e8e8e8; */
  background-color: teal;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}

.app__section {
  display: flex;
  flex-direction: column;
}

.app__section--left {
  flex: 3;
}

.app__section--right {
  flex: 1;
}

.app__section-group {
  display: flex;
  flex-direction: row;
}
